.pageHeaderMonitoring {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 4px 24px;

    height: auto ;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;

}

.pageHeaderMonitoring label {
    margin-bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    align-items: center;

    /* Character / Secondary .45 */

    color: rgba(0, 0, 0, 0.45);
}

.pageHeaderMonitoring label span {
    color: rgba(0, 0, 0, 0.85);
}

.pageHeaderMonitoring h5{
    position: static;

    left: 0px;
    top: 0px;

    margin: 12px 0px 12px 0px;
    /* Heading 20 / bold */

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* Character / Title .85 */

    color: rgba(0, 0, 0, 0.85);


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.monitoringMenu {
    margin-top: 22px;
}

.monitoringMenu #active {
    color: #1890FF;

}


.monitoringMenu nav a {


    /* Subheading 16 / regular */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
}