.serviceTable {
    height:136px;
    background-color: white;
    margin: 25px 24px 24px 24px;
    width: auto;
    height: auto;
}

.toDoButton {
    left: 10.71%;
    right: 10.72%;
    top: 0%;
    bottom: 0%;
}
.table th{
    background: #FAFAFA;
    border-radius: 0px;
    font-weight: bold;
}

